div.img-area {
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #f5f5f5;
    margin: auto 0;
}
div.text-area {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    /* font-size: 1rem; */  
}
div.text {
    text-align: center;
    opacity: 0.5;  
}
div.text:nth-child(odd) {
    font-size: calc(2rem * 0.9);
}
div.text:nth-child(2) {
    font-size: 2rem;
}

div.selected-colors {
    display: flex;
}
span.sel-color {
    width: 2rem;
    height: 2rem;
    margin-right: 10px;
    border: 1px solid #b9b9b9;
    border-radius: 50%;
    position: relative;
}
span.sel-color::before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: max-content;
    background-color: rgba(90, 90, 90, 0.450);
    color: #fff;
    text-align: center;
    font-size: 10px;
    padding: 2px;
    transition: opacity 0.3s ease-in-out;

    position: absolute;
    z-index: 1;
    left: 0;
    top: 110%;
}
span.sel-color:hover::before {
    opacity: 1;
    visibility: visible;
}